*{
  background-repeat: no-repeat;
  font-size: 95%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  transition: 300ms;
}

body{
  font-family: var(--font-family);
}

.App{
  width: 100%;
}

input{
  border: none;
  padding: 0 15px;
}

input:focus{
  outline: none;
  border: none;
}

button{
  border: none;
  background-color: none;
  color: inherit;
  cursor: pointer;
}

a, Link{
  color: unset;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul, li{
  list-style-type: none;
}

.gradient__bg{
  /* ff 3.6+ */
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
}

.button{
  border: solid 1px;
  background: none;
  padding: 5px;
  border-radius: 50px;
  height: 25px;
  line-height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.button:hover{
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.524);
}

/*002853
040c18

x3
y25*/

.gradient__text{
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__logo{
  background: var(--gradient-logo);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient__text-white{
  background: var(--gradient-text-white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section__padding{
  padding: 4rem 6rem;
}

.section__margin{
  margin: 4rem 6rem;
}

.paragraph{
  color: var(--color-text);
  margin: 25px 0;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding{
    padding: 4rem;
  }

  .section__margin{
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .section__padding{
    padding: 4rem 2rem;
  }

  .section__margin{
    margin: 4rem 2rem;
  }
}